.header {
  font-weight: $fw-bold;
  text-transform: uppercase;
  margin-top: $spacing-04;
  margin-bottom: $spacing-02;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    &:last-child() {
      color: gray;
    }
  }

}