.header {

  &__list {
    display: flex;
    justify-content: space-between;

    margin-bottom: $spacing-02;
  }

  &__items {
    color: $black--70;
    font-weight: $fw-bold;
    text-transform: uppercase;

    &:last-child() {
      color: $grey;
    }
  }
}