.searchResults {
  &--desktop {
    &__list {
      display: flex;
      gap: 1em;

      @media (min-width: 1200px) {
        gap: 3em;
      }
    }

    &__items {
      width: 100%;
    }

    &__header {
      font-size: ms(2);
      font-weight: $fw-bold;
      padding-bottom: 3px;
      margin-bottom: $spacing-04;
      border-bottom: 3px solid black;
      margin-top: $layout-01 + -$spacing-03;
    }
  }
}
