$container: 80%;

//Gutter
$global-gutter: 1em;
$section-padding: 2rem;

// Border
$border-normal: 5px;
$border-medium: 10px;
$border-large: 20px;

// Spacing
// For component separation
$spacing-01: 8px;
$spacing-02: 12px;
$spacing-03: 18px;
$spacing-04: 24px;
$spacing-05: 32px;
// For layout level separation
$layout-01: 48px;
$layout-02: 64px;
