@import './vendor/all.scss';
@import './modules/all';
@import './components/all';
@import './pages/all.scss';

.container {
  @extend %container;
}

.App {
  margin-top: $layout-01;

  &__header {
    font-weight: bold;
  }

  .searchResults {
    margin-top: $spacing-04;
  }

  .emptyMessage {
    margin-top: $spacing-04;
  }

  .searchInput__showMore {
    display: flex;
    justify-content: center;

    color: $grey;
    font-weight: $fw-bold;
    margin: $spacing-04 0;
    text-transform: uppercase;

    &:hover {
      transition:  1;
      color: $grey;
      cursor: pointer;
    }
  }
}

body {
  font-size: ms(1);
}