@import './vendor/all.scss';
@import './modules/all';
@import './components/all';
@import './pages/all.scss';

.container {
  @extend %container;
}

.App {
  margin-top: $layout-01;

  &__header {
    font-weight: bold;
  }

  .searchResults {
    margin-top: $spacing-04;
  }

  .emptyMessage {
    margin-top: $spacing-04;
  }
}

body {
  font-size: ms(1);
}